:root {
  --primary: #000000;
  --secondary: #132A13;
  --padding: 15px;
  --cinza : #405040;
  --cinza-claro: #dedede;
}

* {
  font-family: "Zen Loop", cursive;
}

.container {
  max-width: 400px;
  padding: 30px;
  margin: 0 auto;
}
